<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
<runtime>
			<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
				<dependentAssembly>
					<assemblyIdentity name="Oracle.DataAccess"
								publicKeyToken="89b483f429c47342"/>
					<bindingRedirect oldVersion="9.2.0.401"
							newVersion="10.1.0.200"/>
				</dependentAssembly> 
			</assemblyBinding>
	</runtime>		 
-->
</configuration>
